-# encoding: utf-8
%head
	%title= title
	%link(rel="alternate" type="application/rss+xml" href="?_accept=application/rss%2Bxml")
	!= each_tag stylesheets, '%link(rel="stylesheet" type="text/css" href=item)'
