@import "colours";

.new {
	display: block;
	text-align: right;
	margin-right: 1.5em;
}

.hfeed {
	.hentry {
		.entry-title {
			display: block;
			margin-bottom: 0.3em;
		}
		.author {
			padding-right: 1.5em;
			:before { content: "Started by: "; }
		}
		.published {
			display: none;
		}
		.author, .updated {
			font-size: 0.6em;
			color: (@foreground + #555);
		}
		.updated:before {
			content: "Last post: ";
		}
	}
}
