body > section > h1 {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  line-height: 1.4em;
  background: #666677;
}
body > section > h1 a {
  padding-left: 1em;
  font-size: 0.6em;
}
.hentry .entry-title { display: none; }
.hentry .author {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}
.hentry .photo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}
.hentry .published {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}
.hentry .action {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}
.hentry .updated { display: none; }
.hentry .newsgroups {
  display: inline;
  padding: 0px;
}
.hentry .newsgroups li {
  display: inline;
  font-size: 0.9em;
}
.hentry .followup { font-size: 0.9em; }
